/* Fonts
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Covered By Your Grace', cursive;*/


/* header, nav and footer*/

header {
    position: relative;
    height: 400px;
    width: 100%;
    background-image: url("IMG_5493.jpg");
    background-size: cover;
    background-position-y: 50%;
    top: 40px;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    padding-left: 30px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Covered By Your Grace', cursive; 
    font-size: 40px;
    margin-top: 0px;
    padding-top: 5px;
    color: rgba(107, 50, 160);
    background-color: hsl(130, 20%, 59%);
    z-index: 10;
}


nav a.link {
    color: hsl(271, 57%, 34%);
}

h3 {
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Covered By Your Grace', cursive; 
}

footer {
    position: fixed;
    background-color: hsl(130, 20%, 59%);
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;
    align-items: center;
    z-index: 10;
}

footer h3 {
    display: relative;
    display: inline-block;
    font-family: 'Covered By Your Grace', cursive; 
    font-size: 40px;
    color: hsl(271, 57%, 34%);
    text-align: center;
    margin:0;
}

/* About content */
.content {
    text-align: center;
    background-color: hsl(271, 57%, 34%);
    padding: 10px;
    margin: 10px;
    z-index: 2;
    align-items:center;
    height: 500px;
    width: 900px;
    bottom: 50px;
    
    margin-bottom: 100px;
}
 #instructions {
    text-align: center;
    margin: 50px 10px 10px 10px;
 }

.map {
    position: relative;
    display: grid;
    background-image: url("world-map.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: none;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-gap: 0px;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    object-fit: scale-down;
    height: 500px;
    width: 900px;
    overflow: scroll;
    margin:0;
    z-index:4;
    
}

.gridbox{
    height: 60px;
    width: 90px;
    background-color: transparent;
}

#two {
    background-color: hsla(204, 86%, 71%, .5);
    grid-column: 5;
    grid-row: 3;
    background-color: transparent;
}

#three {
    background-color: hsla(204, 86%, 71%, .5);
    grid-column: 6;
    grid-row: 4;
    background-color: transparent;
}

#four {
    background-color: hsla(204, 86%, 71%, .5);
    grid-column: 2;
    grid-row: 5;
    background-color: transparent;
}

#five {
    background-color: hsla(204, 86%, 71%, .5);
    grid-column: 8;
    grid-row: 7;
    background-color: transparent;
}

/*trip content*/
.trips {
    position: relative;
    top: 100px;
    margin-bottom: 200px;
    
}

.package {
    position: relative;
    display: block;
    border: 4px hsl(271, 57%, 34%) solid;
    height: 300px;
    z-index: 8;
}

.pic {
    height: 300px;
    position: relative;
    display: inline-block;
}

img {
    height: 300px;
    width: 300px;
}
.text {
    position: relative;
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-size:20px;
    float: right;
    text-align: center;
    max-width: 60%;
    margin: 5px;
}

ul {
    list-style-type: none;
}

