.pageContainer {
    display: flex;
    height: 1000px;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

#page {
    height: 100%;
}
.all{
    background-color: slategray;
}
.button {
    font-size: 25px;
    cursor: pointer;
    background-color: purple;
    color: white;
}